.btn {
}

.link_svg {
  display: none;
}

.link {
  height: 30px;
  width: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff;
  transition: border 0.4s ease;
  border-radius: 15px;
}

.rev .link {
  color: #4a4a49 !important;
  border-color: rgba(74, 74, 73, 0.2);
}

.active .link {
  color: #fff !important;
  border-color: rgba(255, 255, 255, 0.2);
}

.link svg {
  color: inherit;
  width: 16px;
  height: 16px;
  margin-right: 16px;
  transition: transform 0.4s ease;
}

.link span {
  //color: inherit;
  transition: transform 0.4s ease, color 0.4s ease;
}

@media screen and (min-width: 1024px) {
  .link {
    height: 48px;
    width: 177px;
  }

  .link_svg {
    display: block;
  }

  .link:hover {
    border-color: #4de1aa;
    color: #4de1aa;
  }

  .link:hover svg {
    transform: translateX(0.7rem);
  }

  .link:hover span {
    transform: translateX(0.5rem);
    transition-delay: 0.1s;
  }
}
