// buttons
.btn_primary,
.btn_primary_rev {
  display: block;
  width: 180px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #7b7564;
  transition: all 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
  font-family: BegumSans;
  font-weight: 400;
  font-size: 16px;
  color: #7b7564;
  text-transform: uppercase;
}

.btn_primary:hover,
.btn_primary_rev {
  background-color: #a2c4a0;
  color: #fff;
  border-color: #a2c4a0;
}

.btn_primary_rev:hover {
  color: #7b7564;
  border-color: #7b7564;
  background-color: transparent;
}

@media screen and (min-width: 1024px) {
  .btn_primary {
    width: 320px;
    height: 75px;
    font-size: 17px;
  }
}

// slider control btn
.scbtn {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.scbtn_prev {
}
.scbtn_next {
}
.scbtn svg {
  width: 54px;
}
.scbtn svg line {
  stroke: #c2d5c1;
  transition: stroke 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.scbtn:hover svg line {
  stroke: #393939;
}

@media screen and (min-width: 1280px) {
  .scbtn svg {
    width: 64px;
  }
}

@media screen and (min-width: 1600px) {
  .scbtn svg {
    width: 80px;
  }
}

// slider
.slider {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.ts_images {
  width: 100%;
  padding-top: 70.6%;
  overflow: hidden;
  position: relative;
}
.ts_images .tsi_item {
  position: relative;
  width: 100%;
  //display: none;
  height: 100%;
}
.ts_images .tsi_item:nth-child(1) {
  display: block;
}

.tsi_item picture {
}
.tsi_item picture img {
  width: 100%;
  object-fit: cover;
  object-position: center center;
}

.ts_contents {
  width: 100%;
  background-color: #fff;
}
.tsc_item {
  background-color: #fff;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 30px 20px;
  text-align: center;
  display: none;
}
.tsc_item:nth-child(1) {
  display: flex;
}
.tsc_subtitle {
  font-family: MartelSans;
  font-weight: 400;
  font-size: 13px;
  color: #393939;
  margin-bottom: 18px;
}
.tsc_title {
  font-family: BegumSans;
  font-weight: 400;
  font-size: 29px;
  color: #7b7564;
  margin-bottom: 30px;
  text-transform: uppercase;
}
// .tsc_item p {
//   font-family: MartelSans;
//   font-weight: 400;
//   font-size: 14px;
//   color: #32322f;
//   margin-bottom: 30px;
//   line-height: 1.8;
// }

.tsc_links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 12px;
}
.tsc_links a {
  max-width: 226px;
  max-height: 65px;
  margin-bottom: 26px;
}

.ts_ctrl {
  display: none;
}

.tsc_item h3 {
  font-family: IvyMode, sans-serif;
  //line-height: 1;
  font-weight: 300;
  color: var(--app-theme-color);
  font-size: 28px;
  margin-bottom: 48px;
}
.tsc_item p {
  font-family: Avenir, sans-serif;
  font-size: 1.15em;
  font-weight: 400;
  line-height: 1.5;
  color: #4a4a49;
  //margin-bottom: 1rem;
  margin-bottom: 30px;
}

@media screen and (min-width: 1024px) {
  .slider {
    flex-direction: row;
  }
  .slider.img_right {
    flex-direction: row-reverse;
  }
  .ts_images {
    width: 59%;
    overflow: hidden;
    position: relative;
    z-index: 7;
    padding-top: 40.6%;
  }
  .ts_images .tsi_item {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .ts_images .tsi_item:nth-child(1) {
  }
  .tsi_item picture {
  }
  .tsi_item picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
  .ts_contents {
    top: -72px;
    right: 0;
    background-color: #fff;
    height: auto;
    z-index: 5;
    position: relative;
    width: 41%;
  }
  .slider.img_left .ts_contents {
    z-index: 9;
  }
  .ts_contents::after {
    content: '';
    position: absolute;
    top: 0;
    right: -99px;
    height: 100%;
    width: 100px;
    background-color: #fff;
    z-index: inherit;
  }
  .slider.img_left .ts_contents::after {
    right: auto;
    left: -99px;
  }

  .tsc_item {
    position: relative;
    display: flex;
    width: 100%;
    /* min-height: 100%; */
    /* top: 0; */
    /* left: 0; */
    flex-direction: column;
    align-items: flex-start;
    padding-top: 60px;
    padding-left: 58px;
    justify-content: flex-start;
    text-align: left;
  }
  .slider.img_left .tsc_item {
    padding-left: 2px;
    padding-right: 80px;
  }
  .tsc_item:nth-child(1) {
  }
  .tsc_subtitle {
    font-size: 13px;
    color: #7b7564;
    margin-bottom: 14px;
  }
  .tsc_title {
    font-size: 28px;
    line-height: 1.5;
    margin-bottom: 19px;
  }
  // .tsc_item p {
  //   font-size: 15px;
  //   margin-bottom: 20px;
  // }

  .tsc_links {
    flex-direction: row;
  }
  .tsc_links a {
    max-width: 168px;
    max-height: 48px;
    margin-bottom: 0;
    margin-right: 40px;
    font-size: 15px;
  }
  .tsc_links a:last-child {
    margin: 0;
  }
  .ts_ctrl {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: absolute;
    left: 50px;
    bottom: -60px;
  }
  .slider.img_right .ts_ctrl {
    right: 50px;
    left: auto;
  }
  .ts_ctrl .scbtn {
    margin-right: 38px;
  }
  .ts_ctrl .scbtn:last-child {
    margin-right: 0;
  }
  .tsc_item h3 {
    font-size: 42px;
    margin-bottom: 3rem;
  }
  .tsc_item p {
    font-size: 1.15em;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .ts_images {
    width: 59%;
    padding-top: 40.6%;
  }
  .ts_contents {
    top: -100px;
    width: 41%;
  }
  .ts_contents::after {
    right: -99px;
    height: 100%;
    width: 100px;
  }
  .slider.img_left .ts_contents::after {
    left: -99px;
  }

  .tsc_item {
    padding-top: 87px;
    padding-left: 80px;
    padding-bottom: 60px;
  }
  .slider.img_left .tsc_item {
    padding-left: 2px;
    padding-right: 80px;
  }
  .tsc_subtitle {
    font-size: 15px;
    margin-bottom: 20px;
  }
  .tsc_title {
    line-height: 1.5;
    margin-bottom: 32px;
    letter-spacing: 1.5px;
  }
  // .tsc_item p {
  //   font-size: 13px;
  //   margin-bottom: 34px;
  // }
  .tsc_links a {
    max-width: 180px;
    max-height: 55px;
    margin-bottom: 0;
    margin-right: 40px;
    color: #9c988a;
  }

  .ts_ctrl {
    left: 50px;
    bottom: -60px;
  }
  .slider.img_right .ts_ctrl {
    right: 50px;
  }
  .ts_ctrl .scbtn {
    margin-right: 38px;
  }
}

@media screen and (min-width: 1600px) {
  .ts_images {
    width: 59%;
    padding-top: 40.6%;
  }
  .ts_contents {
    top: -100px;
    width: 41%;
  }
  .ts_contents::after {
    right: -99px;
    height: 100%;
    width: 100px;
  }
  .slider.img_left .ts_contents::after {
    left: -99px;
  }

  .tsc_item {
    padding-top: 87px;
    padding-left: 80px;
  }
  .slider.img_left .tsc_item {
    padding-left: 2px;
    padding-right: 80px;
  }
  .tsc_subtitle {
    font-size: 20px;
    margin-bottom: 28px;
  }
  .tsc_title {
    line-height: 1.5;
    margin-bottom: 48px;
    font-size: 37px;
  }
  // .tsc_item p {
  //   font-size: 18px;
  //   margin-bottom: 70px;
  // }
  .tsc_links a {
    max-width: 240px;
    max-height: 70px;
    margin-bottom: 0;
    margin-right: 40px;
  }

  .ts_ctrl {
    left: 50px;
    bottom: -60px;
  }
  .slider.img_right .ts_ctrl {
    right: 50px;
  }
  .ts_ctrl .scbtn {
    margin-right: 38px;
  }
}
