.wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0;
  z-index: 999;
  transform: translateX(-100%);
  transition: transform 0ms linear 301ms, opacity 300ms ease-in-out;
  padding-top: 113px;
}

.wrapper.active {
  opacity: 1;
  transform: translateX(0);
  transition: transform 0ms linear, opacity 300ms ease-in-out 100ms;
}

.scrollarea {
  width: 100%;
  max-height: 100%;
  overflow-y: auto;
  text-align: left;
  margin-right: -80px;
  padding: 48px 0;
}

.inner {
  height: 100%;
  padding-right: 80px;
}

.pages {
  // margin-top: 20px;
  padding: 0;
  list-style: none;
  width: auto;
  text-align: center;
}

.page {
  margin-bottom: 32px;
}
.page a {
  color: #fff;
  font-family: 'IvyMode', serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 3px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.page a:hover {
  opacity: 0.8;
}

.footer {
  margin-bottom: 0;
  margin-top: 50px;
}
.footer a {
  font-family: 'Avenir', helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 11px;
  letter-spacing: 3px;
  margin: 0 10px;
}

.accessibility {
  margin-top: 20px;
}

@media only screen and (min-width: 768px) {
  .page a {
    font-size: 30px;
  }
  .footer a {
    font-size: 14px;
    margin: 0 15px;
  }
  .accessibility {
    margin-top: 32px;
  }
}
