body {
  font-family: var(--app-font-primary);
  font-size: 16px;
  line-height: 1.5;
  color: var(--app-text-color-primary);
  background: var(--app-background-color-primary);
  height: auto;
}

// responsive
@media only screen and (max-width: 576px) {
}
