/*------- custom fonts -------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
  font-family: 'Avenir';
  src: url('../../public/fonts/avenir/avenir.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Mulish';
  src: url('../../public/fonts/mulish/Mulish-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'NunitoSans';
  src: url('../../public/fonts/nunito-sans/NunitoSans-Regular.ttf')
    format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'IvyMode';
  src: url('../../public/fonts/ivy-mode/IvyMode-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
