:root,
::after,
::before {
  --app-white: #ffffff;
  --app-black: #000000;
  --app-success: #28a745;
  --app-danger: #dc3545;
  --app-warning: #ffc107;

  // theme color
  --app-theme-color: #b89535;
  // --app-theme-color: #21a36c;

  // text color
  --app-text-color-primary: #555555;
  --app-text-color-secondary: #111111;
  --app-text-color-tertiary: #9baab3;
  --app-text-color-designation: #7b7b7b;
  --app-text-color-menu: #666666;

  // background color
  --app-background-color-primary: #ffffff;
  --app-background-color-secondary: #f7f8f9;
  --app-avatar-background: #fea6b4;

  // gradient background
  --app-gradient-from: #dd2476;
  --app-gradient-to: #fa5252;
  --app-background-gradient-from: rgba(220, 236, 236, 0.2);
  --app-background-gradient-to: rgba(220, 236, 236, 0.5);

  // backdrop
  --app-backdrop-background: rgba(0, 0, 0, 0.3);

  // border color
  --app-border-primary: rgba(238, 238, 238, 1);
  --app-border-secondary: rgba(119, 119, 119, 1);

  // border radius
  --app-border-radius-alpha: 15px / 30px;
  --app-border-radius-alpha: 191px 90px 60px 59px/60px 60px 123px 163px;
  --app-border-radius-alpha: 20px 20px 32px 32px;
  --app-border-radius-primary: 20px;

  // shadow
  --app-box-shadow-primary: 0 2.5rem 3.125rem rgb(103 118 128 / 10%);
  --app-drop-shadow: drop-shadow(0 20px 13px rgba(0, 0, 0, 0.03))
    drop-shadow(0 8px 5px rgba(0, 0, 0, 0.08));

  // scrollbar
  --app-scrollbar-thumb: #c1c1c1;

  // icon color
  --app-brand-facebook: #1877f2;
  --app-brand-stackoverflow: #f48024;
  --app-brand-github: #6cc644;
  --app-brand-linkedin: #0077b5;
  --app-brand-whatsapp: #075e54;
  --app-brand-messenger: #0084ff;
  --app-brand-skype: #00aff0;

  --app-icon-mobile: #e93b81;
  --app-icon-email: #6ab5b9;
  --app-icon-location: #0077b3;
  --app-icon-flag: #00684d;

  // transition
  --app-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --app-transition-duration: 300ms;

  // transform
  --app-transform-primary: skew(10deg, -10deg);

  /*
    scheme 2
  */
  // --app-theme-color: #ee6057;
  // --app-gradient-from: #ee6057;
  // --app-gradient-to: #ee607f;
  // --app-background-gradient-from: rgba(239, 211, 238, 0.4);
  // --app-background-gradient-to: rgba(219, 238, 239, 0.4);
}

.dark,
.dark ::after,
.dark ::before {
  // text color
  --app-text-color-primary: #aaaaaa;
  --app-text-color-secondary: #eeeeee;
  --app-text-color-tertiary: #64554c;
  --app-text-color-designation: #848484;
  --app-text-color-menu: #999999;

  // background color
  --app-background-color-primary: #111111;
  --app-background-color-secondary: #1d1d1d;

  // gradient background
  --app-background-gradient-from: rgba(51, 28, 46, 0.9);
  --app-background-gradient-to: rgba(38, 19, 48, 0.8);

  // backdrop
  --app-backdrop-background: rgba(255, 255, 255, 0.3);

  // border color
  --app-border-primary: rgba(58, 58, 58, 1);
  --app-border-secondary: rgba(136, 136, 136, 1);

  // shadow
  --app-box-shadow-primary: 0 2.5rem 3.125rem rgb(103 118 128 / 10%);
  --app-drop-shadow: drop-shadow(0 20px 13px rgba(0, 0, 0, 0.03))
    drop-shadow(0 8px 5px rgba(0, 0, 0, 0.08));

  // scrollbar
  --app-scrollbar-thumb: #2e2e2e;
}

@media (prefers-color-scheme: dark) {
}
