.root {
  background-color: #ddd;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
}
.content {
}

.col {
  background-color: #ddd;
  border-radius: 16px;
}

.title {
  font-family: 'IvyMode';
  font-size: 2.5rem;
  line-height: 1em;
  font-weight: 300;
  color: #b89535;
  color: #484848;
  text-align: center;
  margin-bottom: 3rem;
}
.text {
  background: rgb(249, 247, 247);
  padding: 1rem;
  margin-bottom: 30px;
}

.form {
}
.input {
  width: calc(100% - 2rem);
  margin-left: 1rem;
  margin-right: 1rem;
  position: relative;
  display: block;
  border-bottom: 1px solid rgba(74, 74, 73, 0.2);
}
.input::after {
  content: '';
  display: block;
  height: 1px;
  position: relative;
  top: 1px;
  z-index: 1;
  background: currentColor;
  will-change: transform;
  transition: transform 0.5s cubic-bezier(0.3, 0, 0, 1);
  background-color: #b89535;
  transform-origin: right center;
  transform: scaleX(0);
}
.input.active::after {
  transform: scaleX(1);
  transform-origin: left center;
}
.input .label {
  display: block;
  font-size: 1rem;
  margin: 0 1rem;
  line-height: 1;
  will-change: transform;
  transform: translateY(1.5rem) scale(1);
  transform-origin: left center;
  transition: transform 0.4s cubic-bezier(0.3, 0, 0, 1);
  white-space: nowrap;
  pointer-events: none;
}
.input.focused .label {
  transform: translateY(0) scale(0.75);
}
.input input,
.input textarea {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem 1rem;
  font-size: 1rem;
  line-height: 1;
  font-family: inherit;
  background: none;
  border: none;
  color: currentColor;
}
.input textarea {
  width: 100%;
}

.input input:invalid,
.input textarea:invalid {
  box-shadow: none;
}

.btn {
  width: calc(100% - 2rem);
  margin-left: 1rem;
  margin-right: 1rem;
  height: 5rem;
  background-color: #4a4a49;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Avenir', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5em;
  color: #4a4a49;
  color: #fff;
}

.error {
  border-bottom: 1px solid red;
}

@media screen and (min-width: 1024px) {
  .wrapper {
  }
  .content {
  }
  .title {
    font-size: 3.5rem;
  }
  .text {
  }

  .form {
  }
  .input {
    // width: calc(50% - 2rem);
  }
  .input .label {
  }
  .input input,
  .input textarea {
  }
  .input textarea {
  }

  .btn {
    width: calc(50% - 2rem);
  }
}
