.wrapper {
  display: block;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #fff;
}
.content {
  width: 100%;
  // max-width: 1100px;
  max-width: 644px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 38px;
  text-align: center;
}
.content h2 {
  position: relative;
  font-size: 30px;
  font-family: 'IvyMode';
  color: #4a4a49;
  margin-bottom: 30px;
}
.content p {
  color: #4a4a49;
  font-family: 'Avenir';
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  margin-bottom: 24px;
}
.contact {
  max-width: 1100px;
  margin: 0 auto;
}

@media screen and (min-width: 1024px) {
  .wrapper {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  .content h2 {
    font-size: 56px;
  }
  .content p {
    margin-bottom: 40px;
  }
}
