.card {
  display: block;
  padding-top: 50px;
  padding-bottom: 50px;
}
.card:nth-child(2n) {
  background-color: #ffffff;
}
.card:nth-child(2n - 1) {
  background-color: #f8f8f8;
}

.content {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.image {
  width: 100%;
  max-width: 420px;
}

.image img {
  width: 100%;
  object-fit: cover;
  object-position: center center;
}

.detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 50px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.title h2 {
  position: relative;
  font-size: 30px;
  font-family: "IvyMode";
  color: #4a4a49;
}

.text {
  text-align: center;
  margin-bottom: 30px;
}

.text p {
  color: #4a4a49;
  font-family: "Avenir";
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
}

.btn a {
  border: 2px solid #c4c4c4;
  padding: 0;
  font-size: 16px;
  font-family: "IvyMode";
  /* text-transform: uppercase; */
  color: #4a4a49;
  display: block;
  width: 152px;
  text-align: center;
  line-height: 42px;
  transition: color 0.4s ease, border 0.4s ease;
}

.btn a:hover {
}

// image left, right
.left {
}
.right {
}

.card.left {
}
.card.right {
}

.left .content {
}

.right .content {
}

.left .detail {
}
.right .detail {
}

@media screen and (min-width: 1024px) {
  .left .content {
    flex-direction: row;
  }
  .right .content {
    flex-direction: row-reverse;
  }

  .image,
  .detail {
    width: calc(50% - 16px);
    max-width: 420px;
  }

  .detail {
    padding-top: 0;
    min-width: calc(100% - 420px - 32px);
  }

  .left .detail {
    justify-content: center;
    align-items: flex-start;
    padding-left: calc(8.33333% + 16px);
  }
  .right .detail {
    justify-content: center;
    align-items: flex-end;
    padding-right: calc(8.33333% + 16px);
  }
  .title {
    margin-bottom: 25px;
  }
  .title h2 {
    font-size: 56px;
  }
  // .title h2::before {
  //   content: "";
  //   width: 20px;
  //   height: 2px;
  //   background-color: #4a4a49;
  //   position: absolute;
  //   top: 50%;
  //   transform: translateY(-50%);
  // }
  .text {
    margin-bottom: 40px;
  }
  .left .text {
    text-align: left;
  }
  .right .text {
    text-align: right;
  }
  .btn a:hover {
    border-color: #b89535;
    color: #b89535;
  }
}
