@tailwind base;
@tailwind components;
@tailwind utilities;

.service-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
}
.service-grid.row-span-1 {
  height: 90px;
}
.service-grid.row-span-2 {
  height: calc(180px + 8px);
}
.service-grid span {
  transform: scale(1);
  transition: transform 1s linear;
}
.service-grid.row-span-1 span {
  transform: rotate(0deg);
}
.service-grid.row-span-2 span {
  transform: rotate(-90deg);
}
.service-grid.row-span-1:hover span:first-child {
  transform: rotate(0deg) scale(1.5);
}
.service-grid.row-span-2:hover span:first-child {
  transform: rotate(-90deg) scale(1.5);
}

.service-grid:nth-child(1) {
  background: linear-gradient(
    90deg,
    rgba(255, 226, 199, 1) 8%,
    rgba(30, 222, 35, 1) 96%
  );
}

.service-grid:nth-child(2) {
  background: linear-gradient(
    90deg,
    rgba(252, 199, 198, 1) 8%,
    rgba(30, 222, 35, 1) 96%
  );
}
.service-grid:nth-child(3) {
  background: linear-gradient(
    to right,
    rgb(110, 231, 183),
    rgb(59, 130, 246),
    rgb(147, 51, 234)
  );
}
.service-grid:nth-child(4) {
  background: linear-gradient(
    to right,
    rgb(249, 168, 212),
    rgb(216, 180, 254),
    rgb(129, 140, 248)
  );
}
.service-grid:nth-child(5) {
  background: linear-gradient(
    to right,
    rgb(199, 210, 254),
    rgb(254, 202, 202),
    rgb(254, 243, 199)
  );
}
.service-grid:nth-child(6) {
  background: linear-gradient(
    to right,
    rgb(254, 202, 202),
    rgb(252, 165, 165),
    rgb(253, 230, 138)
  );
}
.service-grid:nth-child(7) {
  background: linear-gradient(
    to right,
    rgb(253, 230, 138),
    rgb(251, 191, 36),
    rgb(180, 83, 9)
  );
}
.service-grid:nth-child(8) {
  background: linear-gradient(
    to right,
    rgb(167, 243, 208),
    rgb(52, 211, 153),
    rgb(16, 185, 129)
  );
}
.service-grid:nth-child(9) {
  background: linear-gradient(to right, rgb(253, 230, 138), rgb(245, 158, 11));
}
.service-grid:nth-child(10) {
  background: linear-gradient(
    to right,
    rgb(253, 230, 138),
    rgb(167, 243, 208),
    rgb(110, 231, 183)
  );
}
.service-grid:nth-child(11) {
  background: linear-gradient(
    to right,
    rgb(101, 163, 13),
    rgb(252, 211, 77),
    rgb(220, 38, 38)
  );
}
.service-grid:nth-child(12) {
  background: linear-gradient(
    to right,
    rgb(101, 163, 13),
    rgb(252, 211, 77),
    rgb(220, 38, 38)
  );
}

.service-grid2 {
  flex-direction: column;
}
.service-grid2 span {
  transform: unset;
}
.service-grid2 span:first-child {
  margin-bottom: 10px;
}
.service-grid2 span:last-child {
  margin-bottom: 0;
}

.grid-icon svg {
  width: 32px;
  height: 32px;
}

.service-grid2:nth-child(1) {
  background: #007d92;
}
.service-grid2:nth-child(2) {
  background: #008f1d;
}
.service-grid2:nth-child(3) {
  background: #e04b30;
}
.service-grid2:nth-child(4) {
  background: #006ae3;
}
.service-grid2:nth-child(5) {
  background: #8c008b;
}
.service-grid2:nth-child(6) {
  background: #00981f;
}
.service-grid2:nth-child(7) {
  background: #127ace;
}
.service-grid2:nth-child(8) {
  background: #004db4;
}
.service-grid2:nth-child(9) {
  background: #5733af;
}
.service-grid2:nth-child(10) {
  background: #0091a2;
}
.service-grid2:nth-child(11) {
  background: #be1d42;
}
.service-grid2:nth-child(12) {
  background: #008f1d;
}
