.wrapper {
  display: block;
  background-color: #f8f8f8;
  padding: 32px 0;
  position: relative;
  z-index: 99;
  background-color: #fff;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo {
  margin-bottom: 10px;
}
.logo a {
  color: #4a4a49;
}
.logo a svg {
  color: #4a4a49;
}
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu li {
  margin-right: 12px;
  margin-left: 13px;
  margin-bottom: 10px;
  position: relative;
}
.menu li::after {
  content: '';
  width: 1px;
  height: 12px;
  background-color: #4a4a49;
  position: absolute;
  top: 50%;
  right: -13px;
  transform: translateY(-50%);
  opacity: 0.7;
}
.menu li:first-child {
  margin-left: 0;
}
.menu li:last-child {
  margin-right: 0;
}
.menu li:last-child::after {
  display: none;
}
.menu li a {
  font-size: 14px;
  color: #4a4a49;
}
.menu li a:hover {
  text-decoration: underline;
}
.copyright {
  font-size: 14px;
  color: #4a4a49;
  margin-bottom: 0;
}
.copyright span {
}
.copyright a {
  color: inherit;
  font-weight: 600;
}
.copyright a:hover {
  text-decoration: underline;
}

@media only screen and (min-width: 1024px) {
  .wrapper {
    padding: 24px 0;
  }
  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .logo {
    margin-bottom: 0;
  }
  .menu {
    justify-content: center;
    align-items: center;
    margin-left: 17vh;
  }
  .menu li {
    margin-right: 12px;
    margin-left: 13px;
    margin-bottom: 0;
  }
  .menu li::after {
    height: 12px;
    right: -13px;
  }
  .menu li a {
    font-size: 14px;
  }
}
